*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;

}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color:#fff ;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.wrapper{
    display: flex;
    position: fixed;
    z-index: 1;

}

nav {
    width: 120px;
    height:100vh;
    background-color:#1a385e ;
    color: #1a385e;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
    box-shadow:.2px 2px 2px rgba(0,0,0,0.5);
    
}

nav ul {
    list-style-type: none;
    padding: 0;
}



nav li {
    margin-bottom: 50px;
    position: relative;
    top: 30%;
    
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: #225485;
    border-radius: 10px;
}


.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}




section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    height:100vh;
    margin-left: 120px;
    width: 50%;

    box-shadow:-.2px 2px 2px rgba(0,0,0,0.5);

    scroll-snap-align: start;
}

article{
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom:20px ;
}

p.indented{
    text-indent: 20px;
}
#mapdiv{
    position: relative;
    width: 500px; /* Set width of container */
    height: 300px; /* Set height of container */
    border: 1px solid #555;
    border-radius: 10px;
    overflow: hidden;
    bottom: -100px;
    left: 35px;
    box-shadow:.2px 2px 2px rgba(0,0,0,0.5);
}


iframe {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    width: 100%; /* Set iframe width to fill container */
    height: 100%; /* Set iframe height to fill container */
    border: none; /* Remove iframe border */
    
    
}

h2{
    height: 200px;
    width:600px ;
    background-image: url(./content/Curis\ Logo\ New.png);
    background-repeat: no-repeat;

}